<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="news,iter : ${allNews}" style=" list-style-type : none; border: 1px solid black; margin: 20px 0">
        <a th:href="'/news/' + ${iter.index}" href="#" style="text-decoration: none">

            <h1 th:text="${news.title}">News</h1>
            <h6 th:text="${news.author.firstName} + ' ' + ${news.author.surname} + ' - ' + ${news.date}">Jan
                Kowalski</h6>
            <p th:text="${news.abbreviateDescription}">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Ab adipisci aliquid architecto
                at atque culpa dolor dolore ducimus earum et excepturi
                explicabo harum ipsa, minus molestiae mollitia necessitatibus
                nobis nostrum, odit officiis perferendis quis sed
                similique sunt tempora ullam voluptates.
                Accusantium aut ex, fuga fugit iste maiores nemo repellat sed.
            </p>
        </a>
    </li>
</ul>
<form action="/news" method="post">
    <h2>News id</h2>
    <input type="text" name="id">
    <br>
    <h2>News title</h2>
    <input type="text" name="title">
    <br>
    <h2>News description</h2>
    <input type="text" name="description">
    <br>
    <h2>News date</h2>
    <input type="date" name="date">
    <br>
    <h2>Author</h2>
    <input type="number" name="author">
    <br>
    <button type="submit">Save</button>

</form>
</body>
</html>