<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="user">
    <h1 th:text="${surname}"></h1>
</div>
<table>
    <th:block th:each = "user: ${listOfUsers}">
        <tr>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
    </th:block>
</table>
<form action="/users" method="post">
    <h2>First name</h2>
    <input type="text" name="firstName">
    <br>
    <h2>Surname</h2>
    <input type="text" name="surname">
    <br>
    <h2>Phone Number</h2>
    <input type="text">
    <br>
    <button type="submit">Save</button>
</form>
</body>
</html>